doctype html
//
  Solarize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    include ./head.jade
  body
    // Header Wrapper
    .wrapper.style1
      // Header
      #header
        include ./header.jade
    // Main
    #main.wrapper.style4
      // Content
      #content.container
        section
          header.major
            h2(style='text-align:center') Archives
            span.byline Fall 2014 Activities
          ul(style='list-style-type:disc')
            li
              a(href='fa-14-week-1.html') Week 1: Lego NXT Line Follower
            li
              a(href='fa-14-week-2.html') Week 2: Breadboarding Basics
            li
              a(href='fa-14-week-4.html') Week 4: Arduino Basics
            li
              a(href='fa-14-week-5.html') Week 5: Drive Systems and Chassis Basics
            li
              a(href='fa-14-week-6.html') Week 6: EAGLE Overview
            li
              a(href='fa-14-week-9.html') Week 9: Basic Sensors
            li
              a(href='fa-14-week-10.html') Week 10: Intro to CAD Software
            li
              a(href='fa-14-week-11.html') Week 11: Motor Controls Basics
    // Footer
    #footer
      include ./footer.jade
