section.container
  header.major
    h2 Contact Us
    span.byline Email us at ourc@ou.edu!
  ul.icons
    li.active
      a.fa.fa-facebook(href='https://www.facebook.com/pages/OU-Robotics-Club/117909654981658')
        span Facebook
    li.active
      a.fa.fa-instagram(href='http://instagram.com/ouroboticsclub')
        span Instagram
    li.active
      a.fa.fa-twitter(href='http://twitter.com/ouroboticsclub')
        span Twitter
  hr
// Copyright
#copyright
  | Design:
  a(href='http://templated.co') TEMPLATED
