.container
  // Logo
  h1
    a#logo(href='index.html') OU Robotics Club
  // Nav
  nav#nav
    ul
      li
        a(href='') Officers
        ul
          li
            a(href='officer-info.html') Officer Roles and Responsibilities
          li
            a(href='bill.html') Bill Bonner | President
          li
            a(href='josh.html') Josh Birdwell | Vice-President
          li
            a(href='geoffry.html') Geoff Page | Secretary
          li
            a(href='patrick.html') Patrick Searcey | Treasurer
      li
        a(href='') Fall 2015 Activity Tutorials
        ul
          li
            p Coming Soon
      li.active
        a(href='archives.html') Archives
      li.active
        a(href='resources.html') Resources
