doctype html
//
  Solarize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    title Officer Roles and Responsibilities
    include ./head.jade
  body
    // Header Wrapper
    .wrapper.style1
      // Header
      #header
        include ./header.jade
    // Main
    #main.wrapper.style4
      // Content
      #content.container
        section
          header.major
            h2 Officer Roles and Responsibilities
          h2
            u President
          ul(style='list-style-type:disc')
            li Runs and organizes both general and officer meetings
            li Generally in charge of delegating tasks to other officers
            li Plans with VP over summer/semester for upcoming semester
            li Shares many responsibilities with VP
            ul(style='list-style-type:disc')
              li Reserving rooms for meetings
              li Publicity (Historically Facebook, also Twitter)
              ul(style='list-style-type:disc')
                li Approves publicity materials
            li Contacts presenters and checks in with them periodically through the semester
            li
              | Acts as face of organization for events such as ELR, org fairs, and presentations to freshman and transfer orientation classes
            li If unable to complete aforementioned tasks, delegate
          br
          br
          h2
            u Vice-President
          ul(style='list-style-type:disc')
            li Does/delegates publicity
            ul(style='list-style-type:disc')
              li In charge of MailChimp and mailing list
              li Acts as Webmaster
              li Creates and sends weekly meeting advertisement to CoE Newsletter
            li Runs meetings (general and officer) if the President is unable
            li Helps President plan for upcoming semester
            li
              | Helps maintain the President’s sanity (which occasionally entails taking on some of the President’s duties)
            li Reserves rooms for meetings
          br
          br
          h2
            u Secretary
          ul(style='list-style-type:disc')
            li Takes notes at meetings (general and officer) and send to officers
            li In charge of re-registering as an RSO each year
            li Sends updated officer list to Tiffany (VP may take care of this)
            li Keeps track of sign in sheet at each meeting
          br
          br
          h2
            u Treasurer
          ul(style='list-style-type:disc')
            li Applies for any and all funding (CoE, SGA, etc.)
            li In charge of reimbursement forms
            li
              | Orders supplies (or delegates the ordering of supplies) needed for upcoming meetings
            li Creates and manages budget for each semester
            li In charge of inventory
          br
          br
          h2 Shared Responsibilities
          ul(style='list-style-type:disc')
            li Attend all general and officer meetings
            li Help with Bench Lab inventory
            li Attend SCR general events when possible 
            li Brainstorm ideas and robotics topics for meetings
            li Supply technical advice/leadership
    // Footer
    #footer
      include ./footer.jade
