doctype html
//
  Solarize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    include ./head.jade
  body
    // Header Wrapper
    .wrapper.style1
      // Header
      #header
        include ./header.jade
    // Main
    #main.wrapper.style4
      // Content
      #content.container
        section
          header.major
            h2(style='text-align:center') Resources
          h3(style='text-align:left') Technical Websites
          br
          li(style='text-align:left')
            a(href='http://www.instructables.com/') Instructables
            |  - Good technical website with informative, user-created tutorials on robotics, electronics, and many more projects
          br
          li(style='text-align:left')
            a(href='http://www.w3schools.com/') w3schools
            |  - Great HTML/CSS reference website, also features tutorials and references on PHP, JQuery, Javascript,and SQL
          br
          li(style='text-align:left')
            a(href='http://www.codecademy.com/') Codeacademy
            |  - Features interactive beginner-level programming tutorials on Javascript, PHP, HTML/CSS, jQuery, Ruby, and Python
          br
          li(style='text-align:left')
            a(href='http://egwiki.us.to/') Exempli Gratia (EG) Wiki
            |  - Upperclassmen ECE organization overseen currently by Shawn Swatek. Features detailed information on previous robotics and electronics projects as well as a collection of general ECE information on various topics
          br
          li(style='text-align:left')
            a(href='https://www.google.com/') Google
            |  -  “The single greatest robotics resource known to mankind.” –Bill Bonner
          br
          li(style='text-align:left')
            a(href='http://exercism.io/') Exercism
            |  -  Good website for learning and practicing programming in various languages and receiving feedback from other coders with varying levels of experience
          br
          li(style='text-align:left')
            a(href='https://www.hackerrank.com/') HackerRank
            |  -  Great website where you can improve your programming skills through a variety of challenges and competitions
          br
          br
          h3(style='text-align:left') Where to Buy Parts
          br
          li(style='text-align:left')
            a(href='http://www.pololu.com/') Pololu
            |  - Small vendor catering to amateur robotics with competitive prices
          br
          li(style='text-align:left')
            a(href='http://www.mouser.com/') Mouser
            |  - Has one of the largest, cheapest, and most varied inventories of electrial components in the world
          br
          li(style='text-align:left')
            a(href='https://www.sparkfun.com/') Sparkfun
            |  - Dedicated to robotic and electronic hobbyists. Contains many great tutorials as well as a selection of breakout boards, sensors, and miscellaneous electronics.
          br
          li(style='text-align:left')
            a(href='http://www.jameco.com/webapp/wcs/stores/servlet/StoreCatalogDisplay?storeId=10001&catalogId=10001&langId=-1') Jameco
            |  - Electronics hobbyist website with a good selection of electronics supplies and hardware
          br
          li(style='text-align:left')
            a(href='http://www.taydaelectronics.com/') Tayda Electronics
            |  - Overseas company with limited selection and minimum buy amount but very competitive prices on some products
          br
          li(style='text-align:left')
            a(href='http://www.robotshop.com/') Robotshop
            |  - One of the most well know dealers of robotics kits, parts, and supplies
          br
          li(style='text-align:left')
            a(href='http://www.adafruit.com/') Adafruit
            |  - Features many useful tutorials on electronics and robotics topics along with a growing webstore
    // Footer
    #footer
      include ./footer.jade
