doctype html
//
  Solarize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
html
  head
    include ../head.jade
  body
    // Header Wrapper
    .wrapper.style1
      // Header
      #header
        include ../header.jade
    // Main
    #main.wrapper.style4
      // Content
      #content.container
        section
          header.major
            h2 Josh Birdwell
            span.byline Vice President
          p
            b Major:
            | Computer Science
          p
            b Year:
            | Junior
          p
            b Hometown:
            | OKC, OK
          p
            b Organizations:
            | E-Club, Robotics Club
    // Footer
    #footer
      include ../footer.jade
      // Copyright
      #copyright
        | Design:
        a(href='http://templated.co') TEMPLATED
